.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.timer h1{
    font-size: 100px;
}
.header{
    height: 10vh;
    display: flex;
    justify-content: end;
    margin: 3rem;
}

.none{
    display: none;
}
#body{
    transition: 1s ease;
}

.darkmode{
    background:black;
    color: #fff;
}
.lightmode{
    background:#fff;
    color: black;
}


